extends layout 

block content 
  .page-header
    h3 All Books 

  ul 
    for book in books 
      li=book.name

  h4 Add a book

  form(action='/books' method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      .col-md-7.mt-2
        input.form-control(type='text', name='name', id='name')
        button.bt.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm.iconpadding
          | Add book